button {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s linear;
    position: fixed;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 999999;
    right: 30px;
    bottom: 90px;
    opacity: .8;
    color: #fff;
    background-color: #b60201;
    border-radius: 4px;
    border: none;
    cursor: pointer;

    svg {
        fill: rgb(255, 255, 255);
        height: 20px;
        width: 14px;
        // transform: rotate(45deg);
        stroke: rgb(255, 255, 255);
    }

    &:hover {
        background-color: #fe7b03;
    }
}