.container-main {
    display: block;
    width: 875px;
    height: auto;
    position: relative;

    .container {
        display: block;
        width: 875px;
        height: auto;

    }

    .first,
    .last {
        position: absolute;
        // border: 1px solid black;
        border-radius: 50%;
        top: calc(50% - 0px);
        display: flex;
        align-items: center;
        justify-content: center;
        // box-shadow: 4px 4px 15px 4px rgba(134, 134, 134, 0.2);
        background-color: #fff;
        width: 30px;
        height: 30px;
        transform: translateY(-50%);
        z-index: 660;
        //   border-radius: 50%;
        transition: all .3s linear;
        visibility: hidden;
        opacity: 0;
        box-shadow: 0 15px 35px #0000001a;
        text-shadow: 2px 3px 8px rgba(0, 0, 0, .1);
        cursor: pointer;

        svg {
            stroke: #B60201;
            fill: #B60201;
            width: 25px;
            height: 25px;
        }

        &:hover {
            background-color: #B60201;

            svg {
                stroke: #fff;
                fill: #fff;
            }
        }

    }

    .first {
        right: 20px;
    }

    .last {
        left: 20px;
        // background-color: #2c2c2c;
    }

    &:hover {

        .first,
        .last {

            visibility: visible;
            opacity: 1;
        }
    }
}


img {
    display: block;
    width: 875px;
    height: auto;
    cursor: pointer;
}