// -pd == product details
.container-pd {
    max-width: 100%;
    margin: 30px 25px;
    display: flex;
    background-color: #fff;
    // padding: 16px;
    position: relative;

    .container-images-button-pd {

        min-width: 527px;
        max-width: 527px;
        flex: 1 1 527px;
        position: sticky;
        top: 91px;
        bottom: 0;
        z-index: 2;
        align-self: flex-start;

        .container-images-pd {
            // -webkit-align-self: flex-start;
            // -ms-flex-item-align: start;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            gap: 10px;
            position: relative;

            .thumbnail-section {


                display: flex;
                align-items: center;
                flex-direction: column;
                position: relative;
                width: 75px;
                height: 396px;
                overflow: hidden;


                .thumbnail-wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    overflow-y: scroll;
                    scroll-behavior: smooth;
                    width: 75px;
                    scrollbar-width: none;
                    -ms-overflow-style: none;
                }

                .thumbnail-wrapper::-webkit-scrollbar {
                    display: none;
                }

                .thumbnail {
                    max-width: 75px;
                    max-height: 75px;
                    padding: 10px;
                    object-fit: contain;
                    flex-shrink: 0;
                    border: 1px solid #e6e6e6;
                    border-radius: 17px;
                    cursor: pointer;
                    transition: border-color 0.2s;

                    &.active-thumbnail {
                        border: 1.5px solid rgb(93, 54, 255);
                    }
                }



                /* Scroll Buttons */
                .scroll-btn {
                    // display: inline-block;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 1;
                    background-color: rgba(0, 0, 0, 0);
                    border: none;
                    max-width: 100%;
                    height: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    svg {
                        width: 20px;
                        height: 20px;
                    }
                }

                .scroll-btn.top {
                    top: 5px;
                }

                .scroll-btn.down {
                    bottom: 5px;
                }

                .scroll-btn:disabled {
                    opacity: 0.5;
                    cursor: not-allowed;
                }


                //
            }

            .main-image-container {
                max-width: calc(100% - 85px);
                flex: 1 1 calc(100% - 85px);
                // align-self: stretch;
                // position: relative;
                overflow: hidden;
                //   height: fit-content;
                // display: block;
                display: flex;
                align-items: center;
                justify-content: center;
                //   width: 100%;
                border: 1px solid #e6e6e6;
                border-radius: 15px;



                .wishlist {

                    cursor: pointer;
                    position: absolute;
                    right: 15px;
                    top: 15px;
                    z-index: 300;
                    // border-radius: 50%;
                    // padding: 9px 12px 12px 9px;
                    background: #ffffff00;

                    .hover-text-wishlist {
                        position: absolute;
                        visibility: hidden;
                        top: 100%;
                        left: -12px;
                        font-size: 8px;
                        color: #000;
                        font-weight: 400;
                        text-align: center;
                        border-radius: 3px;
                        transition: all 0.5s ease;
                        background-color: white;
                        padding: 2px;
                        white-space: nowrap;

                    }

                    &:hover {
                        .hover-text-wishlist {
                            visibility: visible;
                        }
                    }

                    svg {
                        width: 30px;
                        height: 25px;
                    }

                }

                .img-container {
                    max-width: fit-content;
                    position: relative;


                    .hover-box {
                        position: absolute;
                        // width: 200px;
                        // height: 200px;
                        // background-image: radial-gradient(#000000 2px, transparent 10px);
                        background-color: rgba(0, 0, 0, 0.315);
                        // border: 2px solid rgba(255, 0, 0, 0.6);
                        z-index: 100;
                        pointer-events: none;
                        transition: top 0.1s ease-out, left 0.1s ease-out;
                        visibility: hidden;
                    }

                    &:hover {
                        .hover-box {
                            visibility: visible;
                        }
                    }




                    img {
                        width: 400px;
                        height: 396px;
                        object-fit: contain;
                        cursor: crosshair;
                    }
                }
            }

            .zoom-container {
                position: absolute;
                overflow: hidden;
                border: 1px solid #d3d3d3;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 15px;
                background-color: #ff000000;
                z-index: 100;
            }

            .zoom-image {
                position: absolute;
                object-fit: cover;
                pointer-events: none;

            }

        }

        .container-button-pd {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            margin: 15px 0;

            .add-go-cart {
                max-width: 50%;
                width: 100%;
                padding: 0 11px;
                border-radius: 5px;
                border: 0;
                height: 50px;
                font-weight: 700;
                font-size: 16px;
                background-color: black;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                cursor: pointer;
                -webkit-user-select: none;
                user-select: none;

                &:hover {
                    filter: brightness(80%);
                }

                svg {
                    fill: white;
                    stroke: white;
                    width: 18px;
                    height: 18px;
                }
            }

            .buy {
                max-width: 50%;
                width: 100%;
                padding: 0 11px;
                border-radius: 5px;
                border: 0;
                height: 50px;
                font-weight: 700;
                font-size: 16px;
                background-color: #ff5a00;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                cursor: pointer;
                -webkit-user-select: none;
                user-select: none;

                &:hover {
                    filter: brightness(80%);
                }

                svg {
                    fill: white;
                    stroke: white;
                    width: 18px;
                    height: 18px;
                }
            }

        }
    }

    .container-details-pd {
        padding: 0px 0px 0px 24px;
        padding-top: 50px;
        max-width: calc(100% - 527px);
        flex: 1 1 calc(100% - 527px);
        flex-flow: column;

        .details-container-child {
            .name {
                color: #333;
                font-weight: 700;
                font-size: 26px;
            }

            .ratings {
                min-width: 100%;
                padding: 5px 0px;

                ul {
                    list-style: none;
                    display: flex;
                    align-items: center;
                    gap: 3px;

                    li {
                        span {
                            display: block;
                            font-size: 16px;
                            font-weight: 400;
                            color: #ADA9A9A1;

                            svg {
                                width: 16px;
                                height: 16px;
                                fill: #f5c518;
                                stroke: #f5c518;
                            }
                        }
                    }
                }

            }

            .price-container {
                display: flex;
                gap: 7px;
                align-items: center;

                .price {
                    font-weight: 900;
                    font-size: 46px;
                    color: black;
                }

                .price-before {
                    font-size: 24px;
                    color: #ada9a9a1;
                    font-weight: 700;
                }

                .discount-off {
                    color: #fff;
                    font-size: 12px;
                    font-weight: 500;
                    background: #000;
                    padding: 3px 4px;
                    border-radius: 5px;
                }
            }

            .container-button-pd-short {
                display: none;
            }
        }

        .description-container {
            background-color: #fff;
            border: 1px solid #e6e6e6;
            border-radius: 15px;
            // padding: 24px;
            margin: 30px 0px;
            overflow: hidden;

            .title {
                font-size: 24px;
                padding: 18px 16px;
                // background-color: black;
                // color: #fff;
                border-bottom: 1px solid #e6e6e6;
            }

            .description {
                padding: 16px 16px 8px;
                line-height: 20px;
                text-align: justify;

            }

            .btn-container {
                text-align: center;
                padding-bottom: 16px;

                button {
                    display: inline-block;
                    padding: 3px 6px;
                    font-size: 10px;
                    color: rgb(0, 121, 0);
                    background-color: #fff;
                    border: 0px solid rgb(0, 122, 0);
                    border-radius: 4px;
                    cursor: pointer;
                    // align-self: center;
                    text-align: center;

                    &:hover {
                        background-color: rgba(0, 218, 0, 0.205);
                    }
                }
            }

        }

        .rating-reviews-container {
            background-color: #fff;
            border: 1px solid #e6e6e6;
            border-radius: 15px;
            // padding: 24px;
            margin: 30px 0px;
            overflow: hidden;

            .title {
                font-size: 24px;
                padding: 18px 16px;
                // background-color: black;
                // color: #fff;
                border-bottom: 1px solid #e6e6e6;
            }

            .ratings {
                display: flex;
                background-color: #fff;
                padding: 30px 28px;

                .rating-section-left {
                    max-width: 96px;

                    h1 {
                        font-size: 46px;
                        font-weight: 500;

                        span {
                            font-size: 31px;
                            opacity: .5;
                        }
                    }

                    .star-rating {
                        padding-top: 7px;

                        ul {
                            list-style: none;
                            display: flex;
                            align-items: center;
                            gap: 3px;

                            li {
                                span {
                                    display: block;
                                    font-size: 15px;
                                    font-weight: 400;
                                    color: #777;

                                    svg {
                                        width: 16px;
                                        height: 16px;
                                        fill: #f5c518;
                                        stroke: #f5c518;
                                    }
                                }
                            }
                        }
                    }

                    p {
                        font-size: 14px;
                        margin-top: 5px;
                        color: #000;
                    }
                }

                .rating-section-right {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    margin-left: 20px;

                    .rating-star {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        gap: 8px;
                        align-items: center;

                        .star-rating {
                            display: flex;
                            gap: 4px;

                            svg {
                                width: 15px;
                                height: 15px;
                                fill: #f5c518;
                                stroke: #f5c518;
                            }
                        }

                        .progress-bar {
                            width: 100%;
                            height: 10px;
                            background-color: #e0e0e0;
                            border-radius: 5px;
                            overflow: hidden;

                            span {
                                display: block;
                                max-width: 100%;
                                height: 100%;
                                background-color: #388E3C;
                                max-width: 50%;
                            }
                        }

                        &:nth-child(4) {
                            .progress-bar {
                                span {
                                    background-color: #FF9F00;
                                }
                            }
                        }

                        &:nth-child(5) {
                            .progress-bar {
                                span {
                                    background-color: #FF6161;
                                }
                            }
                        }

                        .span {
                            // font-family:;
                            font-weight: 600;
                            font-size: 15px;
                            color: #1a1a1a;
                            margin-left: 8px;
                        }
                    }


                }
            }

            .comment-section {
                background-color: #fff;
                padding: 30px 28px;
                border-top: 1px solid #e6e6e6;

                .name {
                    font-size: 16px;
                    font-weight: 600;
                    padding-bottom: 10px;
                    display: flex;
                    align-items: center;
                    // justify-content: center;
                    gap: 15px;

                    ul {
                        list-style: none;
                        display: flex;
                        align-items: center;
                        gap: 3px;

                        li {
                            span {
                                display: block;
                                font-size: 15px;
                                font-weight: 400;
                                color: #777;

                                svg {
                                    width: 16px;
                                    height: 16px;
                                    fill: #f5c518;
                                    stroke: #f5c518;
                                }
                            }
                        }
                    }

                }

                .comment {
                    font-size: 14px;
                    line-height: 18px;

                }
            }
        }
    }

}

.related-products-container {
    background-color: #fff;
    margin: 30px 25px;
    border-radius: 17px;
    border: 1px solid #e6e6e6;
    box-shadow: 2px 2px 18px 2px #0000000a;
}

.container-cards-category {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
    max-height: 324px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin: 20px 25px;
    gap: 10px;
    scrollbar-width: none;

    li {
        display: flex;
        align-items: center;
        margin-right: 10px;
        cursor: pointer;
        gap: 15px;
        border-bottom: 1px solid #e6e6e6;
        padding-bottom: 5px;

        // cursor: pointer;
        &:hover {
            span {

                color: #000;
            }
        }

        .img {
            border: 1px solid #e6e6e6;
            padding: 4px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 26px;
                height: 26px;
                border-radius: 5px;
            }
        }

        span {
            font-size: 14px;
            font-weight: 500;
            // font-family: Lato, system-ui;
            color: #253d4e;
        }
    }
}

.title-related-products {
    padding: 20px 25px 15px;
    // margin-bottom: 25px;
    // font-size: 36px;
    position: relative;

    &::after {
        content: "";
        display: block;
        width: 80px;
        height: 3px;
        background-color: #000;
        position: absolute;
        bottom: 0;
        left: 25px;
    }

}

.container-cards {
    margin: 10px 25px 0px;
    min-width: calc(100% - 50px);
    max-width: calc(100% - 50px);
    padding-top: 5px;
    padding-bottom: 25px;
    position: relative;

    .swiper-container-card {
        min-width: 100%;
        max-width: 100%;
    }

    .first,
    .last {
        cursor: pointer;
        position: absolute;
        // border: 1px solid black;
        border-radius: 50%;
        top: calc(50% - 0px);
        display: flex;
        align-items: center;
        justify-content: center;
        // box-shadow: 4px 4px 15px 4px rgba(134, 134, 134, 0.2);
        background-color: #fff;
        width: 45px;
        height: 45px;
        transform: translateY(-50%);
        z-index: 660;
        //   border-radius: 50%;
        // transition: all .3s linear;
        opacity: 1;
        transition: 0.5s ease-in-out;
        box-shadow: 0 15px 35px #0000001a;
        text-shadow: 2px 3px 8px rgba(0, 0, 0, .1);

        svg {
            transition: all .3s linear;
            stroke: #000;
            fill: #000;
            width: 25px;
            height: 25px;
        }

        &:hover {
            background-color: #000;

            svg {
                stroke: #fff;
                fill: #fff;
            }
        }

        &[aria-disabled="true"] {
            visibility: hidden;
            opacity: 0;
            transition: 0.5s ease-in-out;
        }
    }

    .first {
        right: 10px;
    }

    .last {
        left: 10px;
        // background-color: #2c2c2c;
    }


    .card-card {
        // height: auto;
        // max-width: 320px;
        // width: 100%;
        background-color: #fff;
        border-radius: 1rem;
        overflow: hidden;
        position: relative;
        transition: all .5s ease;
        border: 1.5px solid #e7e7e7;
        box-shadow: 0 0 1px 0.1px #e7e7e7;
        cursor: pointer;
        // overflow: hidden;

        .img {
            height: 100%;
            width: 100%;
            display: block;
            max-height: 100%;
            max-width: 100%;
            object-fit: cover;

        }

        .body {
            padding: 0 .5rem 1rem;

            .description {
                display: flex;
                flex-direction: column;
                gap: 3px;
                align-items: center;
                margin: .5rem 0;

                p {
                    font-size: 14px;
                    font-weight: 500;

                    text-align: center;
                    margin-bottom: 5px;
                    color: #000;
                    line-height: 18px;
                    height: 39px;
                    -webkit-box-orient: vertical;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: normal;


                }

                span {
                    display: flex;
                    flex-direction: row;
                    font-size: 14px;
                    font-weight: 500;
                    height: 22px;
                    letter-spacing: -.56px;
                    line-height: 22px;
                    color: #000;
                    // transition-duration: .3s;
                }
            }

            button {
                position: relative;
                display: flex;
                justify-content: center;
                gap: 7px;
                padding: 9px 10px;
                border: none;
                max-width: 100%;
                width: 100%;
                border-radius: 8px;
                background-color: #97979766;
                color: #1a1a1a;
                filter: brightness(135%);
                font-size: 15px;
                font-weight: 500;
                transition: background-color .4s ease;

                svg {
                    width: 18px;
                    height: 18px;
                    stroke: #1a1a1a;
                    fill: #1a1a1a;
                }
            }
        }

        &:hover {
            border: 1.5px solid black;

            .body {
                button {
                    background-color: black;
                    color: #fff;

                    svg {
                        fill: #fff;
                        stroke: #fff;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1000px) {
    .container-pd {
        flex-direction: column;

        .container-images-button-pd {

            min-width: 300px;
            max-width: 100%;
            width: 100%;
            flex: 1 1 100%;
            position: static;
            // top: 91px;
            // bottom: 0;
            z-index: 1;

            // align-self: flex-start;
            .container-images-pd {
                // gap: 0;
                display: block;

                .thumbnail-section {
                    display: none;
                }

                .main-image-container {
                    max-width: 100%;

                    // flex: 1 1 calc(100% - 85px);
                    .img-container {
                        img {
                            cursor: default;

                        }
                    }
                }

                .zoom-container {
                    display: none;

                }
            }

            .container-button-pd {
                display: none;


            }
        }

        .container-details-pd {

            padding: 30px 0px 0px;
            // padding-top: 25px;
            max-width: calc(100%);
            flex: 1 1 calc(100%);

            .details-container-child {
                .container-button-pd-short {
                    display: flex;
                    align-items: center;
                    // justify-content: center;
                    gap: 10px;
                    margin: 15px 0;


                    .add-go-cart {
                        max-width: 200px;
                        width: 100%;
                        padding: 0 11px;
                        border-radius: 5px;
                        border: 0;
                        height: 50px;
                        font-weight: 700;
                        font-size: 16px;
                        background-color: black;
                        color: #fff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 5px;
                        cursor: pointer;
                        -webkit-user-select: none;
                        user-select: none;

                        &:hover {
                            filter: brightness(80%);
                        }

                        svg {
                            fill: white;
                            stroke: white;
                            width: 18px;
                            height: 18px;
                        }
                    }

                    .buy {
                        max-width: 200px;
                        width: 100%;
                        padding: 0 11px;
                        border-radius: 5px;
                        border: 0;
                        height: 50px;
                        font-weight: 700;
                        font-size: 16px;
                        background-color: #ff5a00;
                        color: #fff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 5px;
                        cursor: pointer;
                        -webkit-user-select: none;
                        user-select: none;

                        &:hover {
                            filter: brightness(80%);
                        }

                        svg {
                            fill: white;
                            stroke: white;
                            width: 18px;
                            height: 18px;
                        }
                    }



                }
            }
        }
    }
}

@media screen and (max-width:600px) {
    .container-pd {
        margin: 30px 15px;

        // padding-bottom: 15px;

        .container-images-button-pd {


            .container-images-pd {


                .main-image-container {

                    .img-container {
                        max-width: 100%;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }


        }

        .container-details-pd {
            // margin-bottom: 15px;

            .rating-reviews-container {
                margin: 30px 0px 0px;

                .ratings {
                    padding: 30px 15px;
                }

                .comment-section {
                    // background-color: #fff;
                    padding: 30px 15px;
                }
            }

            .details-container-child {
                background-color: #fff;
                border-radius: 15px;
                border: 1px solid #e6e6e6;
                padding: 10px;
                // margin-top: 15px;

                .name {
                    font-size: 16px;
                    font-weight: 400;
                    color: #333333;
                    line-height: 20px;
                }

                .price-container {
                    .price {

                        font-size: 28px;
                    }

                    .price-before {
                        font-size: 18px;
                    }

                    .discount-off {
                        font-size: 10px;
                    }

                }

                .container-button-pd-short {
                    flex-direction: column;

                    .buy,
                    .add-go-cart {
                        // display: block;
                        max-width: 100%;
                    }
                }
            }

        }
    }

    .related-products-container {
        background-color: #fff;
        margin: 30px 15px;
    }

    .title-related-products {
        padding: 15px 15px 15px;
    }

    .container-cards-category {
        margin: 20px 15px;
    }

    .container-cards {
        margin: 10px 15px 0px;
        min-width: calc(100% - 30px);
        max-width: calc(100% - 30px);
    }
}