.container-products {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    margin-top: 10px;
    padding: 10px 0px;

    .products-card {
        flex: 1 1 calc(25% - 3.75px);
        max-width: calc(25% - 3.75px);


    }
}