.cart-button-container {
    display: block;
    width: 80px;
    // background-color: #ffffff;
    border: 1px solid #b60201;
    text-align: center;
    border-radius: 5px;
    // overflow: hidden;
    cursor: pointer;
    position: fixed;
    top: 60%;
    right: 0;
    z-index: 1100;

    .button-top {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding-top: 5px;
        display: block;
        // width: 80px;
        // background-color: #fff;
        // border: 1px solid #b60201;
        // text-align: center;
        // border-radius: 5px;
        // overflow: hidden;
        // cursor: pointer;
        background-color: #FFE9E6;

        span {
            display: block;
            margin-bottom: 3px;
            color: #b60201;
            font-family: Calibri, sans-serif;
            font-weight: 400;
            font-size: 13px;
        }

        svg {
            width: 20px;
            height: 20px;
            // font-size: 
            //20px;
            fill: #b60201;
            stroke: #b60201;
        }
    }

    .cart-price {
        font-size: 13px;
        padding: 5px 10px;
        display: block;
        // width: 80px;
        color: #fff;
        background-color: #b60201;
        // border: 1px solid #b60201;
        // text-align: center;
        // border-radius: 5px;
        // overflow: hidden;
        // cursor: pointer;
    }
}

// popup


.cart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.56);
    z-index: 1200;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    backdrop-filter: blur(1px); // This blurs everything behind the overlay
    -webkit-backdrop-filter: blur(1px);

    &.active {
        opacity: 1;
        visibility: visible;
    }
}

.cart-popup {
    position: fixed;
    top: 0;
    right: -100%;
    width: 350px;
    height: 100%;
    background-color: white;
    z-index: 1201;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-out;
    display: flex;
    flex-direction: column;

    &.active {
        right: 0;
    }
}



h3 {
    // margin: 0;
    color: #b60201;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 15px;

    svg {
        width: 25px;
        height: 25px;
        fill: #b60201;
        stroke: #b60201;
    }
}

.close-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 333px;
    // box-shadow: 0 0 8px .5px #0000000c;
    box-shadow: 0 2px 3px #00000008;
    transition: all .3s linear;
    z-index: 1500px;

    svg {
        // fill: #666;
        fill: #333;
    }

    &:hover {

        background-color: #b60201;

        svg {
            fill: #fff;
        }
    }
}


.cart-content {
    flex: 1;
    overflow-y: auto;
}




.cart-item {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;

    // padding-bottom: 1rem;
    // border-bottom: 1px solid #eee;
    // position: relative;
    .cart-img {
        display: block;
        border-radius: 8px;
        overflow: hidden;
        position: relative;
        min-width: 80px;

        .item-image {
            width: 80px;
            height: auto;
            // object-fit: cover;
            // border-radius: 4px;
        }

        .del {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #0006;
            visibility: hidden;
            opacity: 0;
            transform: scale(0);
            transform-origin: center;
            transition: all .3s linear;
            border-radius: 8px;

            span {
                width: 30px;
                height: 30px;
                font-size: 17px;
                line-height: 30px;
                text-align: center;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #d40000;
                background: #ffffffe6;
                transition: all .3s linear;
                cursor: pointer;

                svg {
                    width: 20px;
                    height: 20px;
                    fill: #b60201;
                    stroke: #b60201;
                }

                &:hover {
                    background-color: #b60201;

                    svg {
                        fill: #fff;
                        stroke: #fff;
                    }
                }
            }

        }
    }


    .item-text {
        // flex: 1;
        display: block;
        width: 100%;

        h4 {
            color: #121212;
            font-family: Calibri, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            // display: block;
            line-height: 22px;

            min-width: 100%;
            width: 180px;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            word-break: break-all;
            text-overflow: ellipsis;
        }

        span {
            color: #5c5c5c;
            font-family: Calibri, sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            display: block;
            line-height: 20px;
        }
    }

    .quantity-price {
        margin-top: 13px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        b {
            color: #b60201;
            font-family: Calibri, sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            display: block;
        }

        .quantity {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            // padding: 5px;
            gap: 5px;

            button {
                // color: #5c5c5c;
                // font-family: Calibri, sans-serif;
                width: 28px;
                height: 28px;
                // font-size: 11px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                outline: none;
                border-radius: 5px;
                background-color: #f5f5f5;
                cursor: pointer;
                transition: all .3s linear;

                svg {
                    width: 15px;
                    height: 15px;
                    fill: #5c5c5c;
                    stroke: #5c5c5c;
                }

                &:hover {
                    background-color: #b60201;

                    svg {

                        fill: #fff;
                        stroke: #fff;
                    }

                }
            }

            input {
                color: #b60201;
                font-family: Calibri, sans-serif;
                font-weight: 500;
                font-size: 14px;
                width: 35px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                text-align: center;
                outline: none;
                border-radius: 5px;
                background-color: #f5f5f5;
                /* Hide number input arrows */
                -moz-appearance: textfield;

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

            }
        }
    }

    &:hover {
        .cart-img {

            .del {
                visibility: visible;
                opacity: 1;
                transform: scale(1);
            }
        }
    }
}

.cart-footer {
    padding: 15px 15px 25px;
    // border-top: 1px solid #eee;
    box-shadow: 1px 0 8px 1px #00000051;

    .checkout-btn {
        width: 100%;
        background-color: #b60201;
        color: white;
        border: none;
        padding: 1rem;
        font-size: 1rem;
        cursor: pointer;
        border-radius: 8px;
        transition: background-color 0.2s;

        span {
            padding: 0px 20px;
        }

        &:hover {
            background-color: #333;
        }
    }
}

/* Responsive adjustments */

@media (max-width: 450px) {


    .close-btn {
        top: 10px;
        right: 30px;
    }
}

@media (max-width: 350px) {
    .cart-popup {
        width: 100%;
    }


}