.banner-section {
    min-width: 100%;
    padding: 8px 10px;
    background-color: #fff;
}

.main-container {
    min-width: 100%;
    padding: 5px 10px;

    background-color: #EFF0F4;
}

.sub-container {
    max-width: 1180px;
    margin: auto;
    position: relative;


}

.category-con {
    position: relative;
    min-width: 100%;
    max-width: 100%;
    margin-top: 20px;
    padding: 5px 0px;
}

.gap {
    max-width: 100%;
    padding: 5px 0px;
}

.banner-flex {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    gap: 20px;
    min-width: 100%;
    max-height: fit-content;
    // margin-bottom: 20px;


}

.categories-sidebar {
    flex: 1 1 24.15%;
    max-width: 24.15%;
    min-width: 24.15%;
    position: relative;
}

.banner-slider-con {
    flex: 1 1 74.15%;
    max-width: 74.15%;
    min-width: 74.15%;
    position: relative;
}


@media screen and (max-width:1200px) {
    .sub-container {
        max-width: 960px;
    }

}

@media screen and (max-width:990px) {
    .sub-container {
        max-width: 720px;
    }

    .banner-flex {
        display: block;
        position: relative;
        min-width: 100%;
        max-height: auto;
        // margin-bottom: 20px;


    }

    .categories-sidebar {
        display: none;
    }

    .banner-slider-con {
        max-width: 100%;
        min-width: 100%;
        position: relative;
    }

}

@media screen and (max-width:770px) {
    .sub-container {
        max-width: 540px;
    }
}




// 