<div class="banner-section">
    <div class="sub-container ">
        <div class="banner-flex">
            <div class="categories-sidebar">

                <app-categories />
            </div>
            <div class="banner-slider-con">

                <app-banner-slider [Banners]="bannersForSlider" />
            </div>
        </div>
        <app-banner [BannerLink]="bannerTop" [BannerName]="'banner'" [margin]="'10px'" />
    </div>
</div>
<div class="main-container">
    <div class="sub-container">
        <app-features [features]="features" />
        <app-fest />

        <div class="category-con">
            <ng-container *ngFor="let category_db of catrgory_section_db; let i = index; trackBy: trackByFn">
                <app-category-section [category]="category_db" [index]="i" />
            </ng-container>
        </div>

        <app-banner [BannerLink]="bannerYoutube" [BannerName]="'banner-videos'" [margin]="'10px'" />
        <app-video-section />
        <app-banner [BannerLink]="bannerSupport" [BannerName]="'banner-support'" [margin]="'10px'" />
        <app-support />
        <app-banner [BannerLink]="bannerBlog" [BannerName]="'banner-blog'" [margin]="'10px'" />
        <app-blogs-container />
    </div>
</div>