.main-container {
    min-width: 100%;
    padding: 5px 10px;

    background-color: #333333;
}


.sub-container {
    max-width: 1180px;
    margin: auto;
    padding: 50px 0px 0px;

}

.main-container-2 {
    min-width: 100%;
    padding: 5px 10px;

    background-color: #1F1F20;
    color: #fff;
    font-size: 13px;
    line-height: 20px;

    .sub-container {
        padding: 20px 0px 0px;
    }
}

.footer-main {
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

    .c {
        margin-bottom: 20px;
    }


    .card1 {
        flex: 1 1 calc(23.529% - 18.8235px);
        min-width: calc(23.529% - 18.8235px);

        h4 {
            color: #fff;
            font-weight: 400;
            // font-family: Calibri, sans-serif;
            font-size: 13px;
            font-style: normal;
            line-height: 25px;
        }

        h3 {
            color: #fff;
            font-weight: 400;
            // font-family: Calibri, sans-serif;
            font-size: 13px;
            font-style: normal;

            a {
                display: inline-block;
                text-decoration: none;
                color: #fff;
                transition: all 0.3s linear;

                &:hover {
                    color: #f2ba22;
                }
            }
        }



        span {
            display: block;
            color: #fff;
            font-weight: 400;
            font-family: Calibri, sans-serif;
            font-size: 13px;
            font-style: normal;
            padding-bottom: 2px;
            margin-bottom: 10px;
        }
    }

    .card2,
    .card3,
    .card4 {
        flex: 1 1 calc(17.647% - 14.1176px);
        min-width: calc(17.647% - 14.1176px);

        h2 {
            color: #f2ba22;
            font-weight: 500;
            font-family: Calibri, sans-serif;
            font-style: normal;
            font-size: 14px;
            display: block;
            line-height: 25px;
            margin-bottom: 7px;
            max-width: 100%;
            width: 100%;
            text-align: left;

        }

        p {
            display: block;
            margin-bottom: 7px;
            text-align: left;
            color: #fff;
            font-size: 13px;
            font-weight: 400;
            cursor: pointer;
        }
    }



    .card5 {
        flex: 1 1 calc(23.529% - 18.8235px);
        min-width: calc(23.529% - 18.8235px);

        h2 {
            color: #f2ba22;
            font-weight: 500;
            font-family: Calibri, sans-serif;
            font-style: normal;
            font-size: 14px;
            display: block;
            line-height: 25px;
            margin-bottom: 7px;
            max-width: 100%;
            width: 100%;
            text-align: left;

        }

        ul {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 10px;
            margin-top: 0px;
            gap: 10px;
            list-style: none;

            li {
                padding-right: 3px;
                display: block;

                img {
                    display: block;
                    height: 22px;
                    width: 22px;
                }
            }

        }

        .app {
            font-weight: 500;
            // font-style: normal;
            // font-family: Calibri, sans-serif;
            color: #fff;
            font-size: 15px;
            display: block;
            margin-bottom: 0px;
            line-height: 22px;
        }

        .sign-h2 {
            font-weight: 500;
            // font-style: normal;
            // font-family: Calibri, sans-serif;
            color: #d6bbbb;
            font-size: 15px;
            display: block;
            line-height: 22px;
            margin-bottom: 0px;
        }

        label {
            color: #fff;
            font-weight: 400;
            // font-family: Calibri, sans-serif;
            font-size: 13px;
            font-style: normal;
            display: block;
            line-height: 17px;
            margin-bottom: 3px;
        }

        .input-con {
            position: relative;

            input {
                display: block;
                width: 100%;
                border: 1px solid #fff;
                outline: none;
                padding: 8px 10px;
                // box-sizing: border-box;
                color: #524f39;
                // font-family: Calibri, sans-serif;
                // font-style: normal;
                border-radius: 7px;
            }

            button {
                display: block;
                max-width: 50px;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                background-color: #fff;
                border: 1px solid transparent;
                outline: none;
                border-radius: 0 7px 7px 0;
                background-image: url(https://www.esquireelectronicsltd.com/media/paper-plane-LWBDDYVA.svg);
                background-repeat: no-repeat;
                background-attachment: scroll;
                background-position: center center;
            }
        }

        .app-ul {
            gap: 7px;

            li {
                padding-right: 0px;

                img {
                    width: 90px;
                    height: auto;
                }
            }
        }
    }

}

h2 {

    font-size: 15px;
    line-height: 30px;
    margin: 10px 0px 0px;
    text-align: center;
    font-weight: 600;
}



.footer-middle-main {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;

    .section-footer-middle {
        flex: 1 1 calc(33.333% - 13.333px);
        max-width: calc(33.333% - 13.333px);
        min-width: calc(33.333% - 13.333px);
        margin: 10px 0px;

        h3 {
            font-size: 14px;
            color: #f2ba22;
            text-transform: uppercase;
            // margin-bottom: 10px;
        }

        p {
            font-size: 14px;
            line-height: 24px;
        }
    }


}

.footer-buy-description {
    text-align: center;
    font-size: 14px;

    p {
        margin-bottom: 20px;
    }

    h3 {
        font-weight: 600;
    }

}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin: 20px 0px;


    li {
        span {
            padding-right: 5px;
            font-size: 14px;
            font-weight: 600;
        }

        img {
            width: 40px;
            height: auto;
        }
    }
}

.ntt {
    padding: 15px 10px;
    background-color: #c92127;
    color: #fff;

    p {
        font-size: 16px;
        text-align: center;
    }
}

@media screen and (max-width:1200px) {
    .sub-container {
        max-width: 960px;
    }

}

@media screen and (max-width:1150px) {
    .footer-main {
        justify-content: flex-start;

        .c {
            flex: 1 1 calc(33.33% - 13.33px);
            max-width: calc(33.33% - 13.33px);
            min-width: calc(33.33% - 13.33px);
        }
    }

}

@media screen and (max-width:990px) {
    .sub-container {
        max-width: 720px;
    }

    .ntt {
        display: none;
    }

}

@media screen and (max-width:1000px) {

    .footer-middle-main {
        display: block;

        .section-footer-middle {
            display: block;
            max-width: 100%;
            min-width: 100%;
        }
    }
}

@media screen and (max-width:800px) {
    .footer-main {
        // justify-content: flex-start;

        .c {
            flex: 1 1 calc(50% - 10px);
            max-width: calc(50% - 10px);
            min-width: calc(50% - 10px);
        }
    }

}

@media screen and (max-width:770px) {
    .sub-container {
        max-width: 540px;
    }
}

@media screen and (max-width:760px) {
    .footer-middle-main {
        display: none;

    }

    p {
        display: none;

    }

    h2 {
        display: none;
    }


    .footer-buy-description {

        p {
            display: block;
        }

        h3 {
            display: none;
        }
    }
}

@media screen and (max-width:650px) {
    .footer-main {
        // justify-content: flex-start;

        .c {
            flex: 1 1 100%;
            max-width: 100%;
            min-width: 100%;
        }
    }
}