<div class="main-container">
    <div class="sub-container">
        <div class="footer-main">
            <div class="c card1">
                <h4>
                    Address :
                </h4>
                <span>
                    Esquire Tower, 21 Shaheed Tajuddin Ahmed Sarani, Tejgaon I/A, Dhaka-1208, Bangladesh.
                </span>
                <h3>Phone:
                    <a href="">16794 or 096100001010</a>
                </h3>
                <h3>Email:
                    <a href="">{{"online.query@esquirebd.com"}}</a>
                </h3>
            </div>
            <div class="c card2">
                <h2>
                    SHOPPING WITH US
                </h2>
                <p>Why Shop with us</p>
                <p>Why Shop with us</p>
                <p>Why Shop with us</p>
                <p>Why Shop with us</p>
                <p>Why Shop with us</p>
                <p>Why Shop with us</p>
                <p>Why Shop with us</p>
                <p>How to download e-Warranty Document</p>
            </div>
            <div class="c card3">
                <h2>
                    CUSTOMER SERVICE

                </h2>
                <p>Why Shop with us</p>
                <p>Why Shop with us</p>
                <p>Why Shop with us</p>
                <p>Why Shop with us</p>
                <p>Why Shop with us</p>
                <p>Why Shop with us</p>
                <p>Why Shop with us</p>

            </div>
            <div class="c card4">
                <h2>
                    USEFUL LINKS

                </h2>
                <p>Why Shop with us</p>
                <p>Why Shop with us</p>
                <p>Why Shop with us</p>
                <p>Why Shop with us</p>
                <p>Why Shop with us</p>
                <p>Why Shop with us</p>
                <p>Why Shop with us</p>

            </div>
            <div class="c card5">
                <h2>
                    FOLLOW US

                </h2>
                <ul>
                    <li><img src="https://www.esquireelectronicsltd.com/assets/images/junk/linkedin.svg" alt=""></li>
                    <li><img src="https://www.esquireelectronicsltd.com/assets/images/junk/instagram.svg" alt=""></li>
                    <li><img src="https://www.esquireelectronicsltd.com/assets/images/junk/facebook.svg" alt=""></li>
                </ul>
                <h2 class="app">
                    DOWNLOAD APPS
                </h2>
                <ul class="app-ul">
                    <li><img src="https://www.esquireelectronicsltd.com/assets/images/junk/button_appstore_android.svg"
                            alt=""></li>
                    <li><img src="https://www.esquireelectronicsltd.com/assets/images/junk/app-store-icon.svg" alt="">
                    </li>
                </ul>
                <h2 class="sign-h2">
                    Sign Up For Newsletters
                </h2>
                <label>
                    Get E-mail updates about our latest shop and special offers
                </label>
                <div class="input-con">
                    <input type="text">
                    <button>
                        <!-- <img src="" alt=""> -->
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-container-2">
    <div class="sub-container">
        <div class="footer-middle">
            <p>
                Esquireelectronicsltd.com is one of the highest rated and most trusted consumer electronics online
                shopping platform in Bangladesh offering premium quality products coupled with a seamless online
                shopping experience to purchase Original Electronic Appliances. You can find almost all kind of
                household electronics solution for your home like; Air-conditioners, Refrigerators, Freezers, TV,
                Washers, Kitchen Appliances and more. We specialize in global brands, most notably SHARP & GENERAL. Our
                other brands include Danaaz, Morphy Richards, Philips, Kent, and Livpure. We are committed to
                exceptional customer service and our track record since 1977 is a testament to our commitment to
                excellence. Esquire is committed to serve, Esquire is here for the long run, Esquire is here for you.
            </p>
            <h2>
                Why Esquire Electronics for online buying?
            </h2>
            <div class="footer-middle-main">
                <div class="section-footer-middle">
                    <h3>
                        HASSLE FREE ONLINE ELECTRONICS SHOP IN BD
                    </h3>
                    <p>
                        We understand how hectic your schedule is. In addition to that, you might also find online
                        shopping confusing among so many options. We are here to help with that! Check and choose from
                        our sizeable collection of home appliances and enjoy a seamless shopping experience. No need to
                        worry about quality as we are the pioneers in supplying quality goods from world-class brands.
                        Just place the order and we shall deliver to your address in no time… Ohh, did we forget to
                        mention that you will enjoy free delivery across the nation? So, shop away!
                    </p>
                </div>
                <div class="section-footer-middle">
                    <h3>
                        PLEASANT AND SECURE BUYING EVERYTIME
                    </h3>
                    <p>
                        We strive to offer you the ultimate experience of online shopping with quick delivery of
                        products and secure payment channels. You can remain tension free after purchasing any
                        electronic product from us, because all of our products are original. You can pay through your
                        debit/credit card or mobile wallet through our highly secure encrypted payment gateway partner.
                        EMI is also available for your convenience! Or you can avail the cash on delivery facility… the
                        choice is yours!

                    </p>
                    <h3>
                        WHY WE ARE THE BEST FOR BUYING ONLINE?
                    </h3>
                    <p>
                        We only sell original brand products, no duplicates, no counterfeits. So, you can always rest
                        assured about product quality. Enjoy free nationwide delivery along with free installation on
                        selected products. Additionally, we offer secure and flexible payment options. You also can get
                        to know important facts and tips from our Blog about our products and their usage. So, hurry up
                        and experience the best online electronics shopping website!
                    </p>

                </div>
                <div class="section-footer-middle">
                    <h3>
                        DEALS AND OFFERS OF ESQUIRE ELECTRONICS
                    </h3>
                    <p>
                        You can visit our website to stay updated on the new arrival products available or brand
                        launches. It is also a great place to visit often for the current deals and special offers going
                        on at Esquire Electronics. Once you have got your desired product, don’t forget to add that to
                        your cart! And if you plan to visit often then don’t forget to bookmark this page as well as
                        subscribe to our newsletter!
                    </p>
                    <h3>
                        EASY PAYMENT METHOD FOR ONLINE SHOPPING IN BD
                    </h3>
                    <p>
                        Esquire Electronics also offers flexibility to a customer to pay by their preferred payment
                        option. One can pay by cash, credit cards, wallet or pay-on-delivery. We also allow customers to
                        avail various Easy EMI. To ensure that our customers enjoy their product to the fullest, we also
                        offer attractive Warranty coverage.

                    </p>
                </div>
            </div>
            <div class="footer-buy-description">
                <p>
                    So, Refrigerator |
                </p>
                <h3>
                    Buy original electronics product by Category
                </h3>
            </div>
            <ul>
                <li>
                    <span>
                        Easy Payment
                    </span>
                </li>
                <li>
                    <img src="https://www.esquireelectronicsltd.com/assets/images/junk/mastercard.png" alt="">
                </li>
                <li>
                    <img src="https://www.esquireelectronicsltd.com/assets/images/junk/mastercard.png" alt="">
                </li>
                <li>
                    <img src="https://www.esquireelectronicsltd.com/assets/images/junk/mastercard.png" alt="">
                </li>
                <li>
                    <img src="https://www.esquireelectronicsltd.com/assets/images/junk/mastercard.png" alt="">
                </li>
                <li>
                    <img src="https://www.esquireelectronicsltd.com/assets/images/junk/mastercard.png" alt="">
                </li>

            </ul>
        </div>
    </div>
</div>
<div class="ntt">
    <p>
        {{'@ All Copyrights Reserved By Esquire Limited'}}
    </p>
</div>