<div class="main-container">
    <div class="sub-container">
        <div class="footer-main">
            <div class="c card1">
                <h4>
                    Address :
                </h4>
                <span>
                    Esquire Tower, 21 Shaheed Tajuddin Ahmed Sarani, Tejgaon I/A, Dhaka-1208, Bangladesh.
                </span>
                <h3>Phone:
                    <a href="">16794 or 096100001010</a>
                </h3>
                <h3>Email:
                    <a href="">{{"online.query@esquirebd.com"}}</a>
                </h3>
            </div>
            <div class="c card2">
                <h2>
                    SHOPPING WITH US
                </h2>
                <p>Why Shop with us</p>
                <p>Why Shop with us</p>
                <p>Why Shop with us</p>
                <p>Why Shop with us</p>
                <p>Why Shop with us</p>
                <p>Why Shop with us</p>
                <p>Why Shop with us</p>
                <p>How to download e-Warranty Document</p>
            </div>
            <div class="c card3">
                <h2>
                    CUSTOMER SERVICE

                </h2>
                <p>Why Shop with us</p>
                <p>Why Shop with us</p>
                <p>Why Shop with us</p>
                <p>Why Shop with us</p>
                <p>Why Shop with us</p>
                <p>Why Shop with us</p>
                <p>Why Shop with us</p>

            </div>
            <div class="c card4">
                <h2>
                    USEFUL LINKS

                </h2>
                <p>Why Shop with us</p>
                <p>Why Shop with us</p>
                <p>Why Shop with us</p>
                <p>Why Shop with us</p>
                <p>Why Shop with us</p>
                <p>Why Shop with us</p>
                <p>Why Shop with us</p>

            </div>
            <div class="c card5">
                <h2>
                    FOLLOW US

                </h2>
                <ul>
                    <li><img src="https://www.esquireelectronicsltd.com/assets/images/junk/linkedin.svg" alt=""></li>
                    <li><img src="https://www.esquireelectronicsltd.com/assets/images/junk/instagram.svg" alt=""></li>
                    <li><img src="https://www.esquireelectronicsltd.com/assets/images/junk/facebook.svg" alt=""></li>
                </ul>
                <h2 class="app">
                    DOWNLOAD APPS
                </h2>
                <ul class="app-ul">
                    <li><img src="https://www.esquireelectronicsltd.com/assets/images/junk/button_appstore_android.svg"
                            alt=""></li>
                    <li><img src="https://www.esquireelectronicsltd.com/assets/images/junk/app-store-icon.svg" alt="">
                    </li>
                </ul>
                <h2 class="sign-h2">
                    Sign Up For Newsletters
                </h2>
                <label>
                    Get E-mail updates about our latest shop and special offers
                </label>
                <div class="input-con">
                    <input type="text">
                    <button>

                    </button>
                </div>
            </div>
        </div>
    </div>
</div>